.dialogcontainer {
    text-align: center;
}

.app-dialog .text {
    padding: 10px 0 5px 0;
    margin: 0px;
}

img {
    width: 20px;
    height: 20px;
}

.radio {
    text-align: center;
    height: 50px;
}

.star.selected {
   background-image: url(/img/starfill.png?inline=1);
}

.new .button .close .first{
  color: #000;
  background-color: #E3E4E7;
}

.new .button.ok.last{
  color: #fff;
  background-color: #1BBB8F;
}

.star {
    display: inline-block;
    padding: 6px 6px 16px;
    height: 20px;
    width: 20px;
    -webkit-background-size: 36px 36px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(/img/star.png?inline=1);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.fa.fa-star {
    padding-top: 10px;
}

.rater {
    letter-spacing: -2px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
}